doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        link(rel="stylesheet", href="css/style.css")
        script(src="script/jquery-3.6.1.js")
        link(rel="shorcut icon", href="images/favicon.png", type="images/x-icon")
    body
        header
            h1 maldives : 자연 휴양지 몰디브
            p=message
        nav
            ul(id="gnb")
                li
                    a(href="/") 처음으로
                li
                    a(href="/tour") 한울투어
                li
                    a(href="/reserve") 예약/확인
                li
                    a(href="/customer") 고객센터
        div(class="views")
            img(src=src, alt=subtitle)
        div(class="container")
            h2 여행 예약을 확인하고 수정하시겠습니까?
            button(type="button", id="reserve") 예약/확인
        footer
            div(class="container")
                p &copy; hanul. 2022.all rights reserved.
        script(src="script/main.js")