doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        link(rel="stylesheet", href="css/style.css")
        script(src="script/jquery-3.6.1.js")
        link(rel="shorcut icon", href="images/favicon.png", type="images/x-icon")
    body
        header
            h1 maldives : 자연 휴양지 몰디브
            p 지금 예약하세요!
        nav
            ul(id="gnb")
                li
                    a(href="/") 처음으로
                li
                    a(href="/tour") 한울투어
                li
                    a(href="/reserve") 예약/확인
                li
                    a(href="/customer") 고객센터
        div(class="views")
            p(align="right") 
                a(href="/") 처음으로
                span &gt;
                span=subtitle
            img(src=src, alt=subtitle)  
        div(class="container")
            h2 예약/확인 서비스입니다.
            h3 자바스크립트 XMLHttpRequest 방식과 jQuery $.ajax()를 비교하세요!
            p 쉽게 확인할수 있도록 기본값을 설정했으니, 변경하면서 체크해보세요.
            form(action="/send_post", id="checkForm", name="checkForm", autocomplete="off", method="post")
                ul(class="form-list")
                    li
                        label(for="guest_name") 예약자명 : 
                        input(type="text", id="guest_name", name="guest_name", placeholder="12자 이내" value="김한울")
                    li
                        label(for="guest_phone") 전화번호 : 
                        input(type="tel", id="guest_phone", name="guest_phone", placeholder="-빼고 입력하세요" value="0623627797")
                    li
                        input(type="reset", value="취소")
                        input(type="submit", value="post 전송", id="send")
        div(class="container")
            button(type="button", id="ajax_send") ajax post 전송
            p(class="ajax_result") ajax 비동기로 전송된 데이터가 곧바로 표시됩니다.
        footer
            div(class="container")
                p &copy; hanul. 2022.all rights reserved.
        script(src="script/ajax.js")